.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.logo-center {
    max-width: 150px;
    /* Ajuste o tamanho conforme necessário */
    margin-bottom: 20px;
}

.d-flex.justify-content-center {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Centralizar o form */
.h-custom-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Centralizar o conteúdo dentro da coluna esquerda */
.col-sm-6.text-black {
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    align-items: center;
    justify-content: center;

}

.img-female-hand-writing {
    object-fit: cover;
    object-position: left;
    border-radius: 10px 10px 10px 10px ;

    margin-left: 10px;


}
